<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    height: 100vh;
  }

  .card-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: white;
    height: 400px;
    width: 400px;
    margin: 0 8px 16px;
    padding: 16px;
    line-height: 24px;
  }
</style>

<!-- Toolbar -->

<div class="card-container" role="main">
  <div class="card">
      <h5 class="title">Login To Test App</h5>
      <form [formGroup]="form" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            required
            class="form-control"
            id="email"
            placeholder="Email Address"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
