<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!-- Toolbar -->
<!-- 
<div class="card-container" role="main">
  <div class="card">
      <form [formGroup]="form" (ngSubmit)="submitLogin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            required
            class="form-control"
            id="email"
            placeholder="Email Address"
            formControlName="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            required
            class="form-control"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
  </div>
</div> -->
<div class="card-container" fxLayout="column"
fxLayoutAlign="center center"role="main">
<mat-card fxLayout="column" fxLayoutAlign="center stretch">
  <mat-card-header fxFlex="20" fxLayoutAlign="center center">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlexOffset="10" fxFlex="80">
    <form [formGroup]="loginForm">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="submitLogin()" color="primary">Login</button>
  </mat-card-actions>
</mat-card>
</div>
<router-outlet></router-outlet>
