/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
}
body {
    background-color: rgb(255, 255, 200);
    height: 100vh;
}